@{
    ViewBag.Title = "DBResults";
}
<h2>Portal</h2>
<center>
    @*Returns the requested service name*@
    <h2>Service: @ViewBag.Message1</h2>
    @*Returns the status of the requested service*@
    <h3>@ViewBag.Status</h3>

    @if (ViewBag.Message1.Equals("Valassis.Turnkey"))
    {
        <input type="button" value="Start" onclick="location.href='@Url.Action("/Services/turnkey/1", "Support")'" />
        <input type="button" value="Stop" onclick="location.href='@Url.Action("/Services/turnkey/0", "Support")'" />
    }

    @if (ViewBag.Message1.Equals("Valassis.SWAutoPageBuild"))
    {
        <input type="button" value="Start" onclick="location.href='@Url.Action("/Services/swautopagebuild/1", "Support")'" />
        <input type="button" value="Stop" onclick="location.href='@Url.Action("/Services/swautopagebuild/0", "Support")'" />

    }
    @*Only returns after a user has clicked either start or stop*@
    <h3>@ViewBag.Result</h3>
</center>
